
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Shantell+Sans&display=swap');


// font-family: 'Shantell Sans', cursive;
// font-family: 'Mynerve', cursive;


.proyectosRecientes{
    padding: 40px;    
}

.seccionClara{
    color: black;
    background-color: white;
}

.seccionTitulo{
    font-family: 'Shantell Sans', cursive;
    
}

.textoNegro {   
    color: black;
}

.textoBlanco{
    color: white;
    font-family: 'Shantell Sans', cursive;
}

.seccionDescripcion{
    font-size: 1.2rem;
    color: #584e4e;
    font-family: 'Mynerve', cursive;
}