
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Shantell+Sans&display=swap');

.articulos{
    min-height: 500px;
    padding: 30px;
}
.articulos .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
}
.articulos .cardHeader{
    font-weight: bolder;
    font-family: 'Shantell Sans', cursive;
}
.articulos li {
    font-family: 'Mynerve', cursive;
    font-weight: bold;
    
}
.seccionTitulo  {
    font-family: 'Shantell Sans', cursive;
    color: black;
}

.btnInfo{
    font-family: 'Shantell Sans', cursive;
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
}



